@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  background-image: url("/images/Slide 16_9 - 38.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__inner {
  padding-top: 154px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__info {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  width: 298px;
  height: 83px;
}

.home-text {
  font-size: 14px;
  color: #ffd58c;
  width: 430px;
  text-align: center;
}
.home__btns {
  display: flex;
  margin-top: 44px;
  gap: 250px;
}

.home__btns-btn {
  display: flex;
  width: 160px;
  padding: 5px 0px;
  background-color: rgba(255, 213, 140, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #f99551;
  color: #f99551;
}

.name2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header__nav {
}

.header__nav-links {
  margin: 0 auto;
  padding: 0 20px;
}
.main-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}
.course-content {
  padding-top: 100px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-h1 {
  color: #ffd58c;
  font-size: 25px;
}

.course-h1.card-title {
}
.course__description {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.course__description-h3,
.course__btn {
  color: #ffffff;
  font-size: 16px;
}
.course__description-p {
  width: 520px;
  color: #c1a194;
  font-size: 15px;
  text-align: center;
}

.intro {
  position: relative;
  background-image: url("/images/Rectangle 166.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.background-tint {
  background-color: rgba(7, 135, 50, 0.308);
  background-blend-mode: multiply;
}
.aside-btns {
  position: absolute;
}
.create-course {
  display: none;
  min-height: 100vh;
}
.course-design {
  display: none;
  min-height: 100vh;
}

.map-design {
  display: none;
  min-height: 100vh;
}
.course-active {
  display: block;
}
.course-card {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

.course-map {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

.course-card__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.course-card__content2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.course-card__item-img {
  width: 400px;
  height: 230px;
  object-fit: cover;
}
.course-card__item-description {
  margin-top: 10px;
  color: #c1a194;
  width: 400px;
  font-size: 15px;
  text-align: center;
}

.circle {
  position: relative;
  background-color: none;
  border: 1px solid #ffd58c;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}
.circle.active {
  background-color: #ffd58c;
}
.circle.line-circle.circle::after {
  position: absolute;
  content: "";
  background-color: #749662;
  width: 1px;
  height: 80px;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
}
.line {
  position: absolute;
  background-color: #749662;
  width: 1px;
  height: 45%;
  left: 50%;
  transform: translateX(-50%);
}
.line.top {
  top: -55%;
}
.line.bottom {
  bottom: -55%;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 120px;
  position: fixed;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.course-card__content2 {
  display: none;
  min-height: 100vh;
}
.course-card__content2.course-active {
  display: flex;
}

.course-page {
  display: none;
}

.course-page.course-active {
  display: flex;
}

.course-page__content-and-review {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 45px;
}

.course-page__content {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.course-page__content-img {
  flex: 1;
  height: 321px;
}
.course-page__content-description {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.course-page__content-description-h {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.course-page__content-description-h2 {
  font-size: 22px;
  color: white;
}
.course-page__content-description-h3,
.content-description-recommendation-h3 {
  font-size: 17px;
  color: #ffd58c;
}

.course-page__content-description-text {
  color: #c1a194;
  font-size: 14px;
}
.course-page__content-description-text-span {
  color: white;
  font-size: 14px;
}

.course-page__content-description-recommendation {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 10px;
}

.test {
  background-color: white;
  width: 270px;
  height: 70px;
}

.course-page__review {
  display: flex;
  gap: 3px;
}

.course-page__review-links {
  width: 520px;
  padding: 10px 7px;
  background-color: rgba(255, 255, 255, 0.1);
}

.review-links-span {
  font-size: 14px;
  color: #ffd58c;
}
.review-links-p {
  font-size: 14px;
  color: white;
}

.course-page__btns {
  display: flex;
  justify-content: space-between;
}
.course-page__btns-btn {
  color: #ffffff;
}

.create-course2 {
  min-height: 100vh;
  background-image: url("/images/Rectangle 166.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.create-course2__inner {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-course__top {
  width: 780px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.create-course__top-action,
.create-course__top-lessons {
  color: #ffffff;
  font-size: 14px;
}

.create-course__top-action {
  display: flex;
  gap: 16px;
}

.create-course__top-lessons {
  display: flex;
  gap: 9px;
}

.create-course__middle {
  display: flex;
  gap: 70px;
  padding-bottom: 50px;
}

.create-course__middle-triangle-left {
  margin-top: 170px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
}

.create-course__middle-triangle-right {
  margin-top: 170px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid white;
}

.create-course__middle-canvas {
  width: 780px;
  height: 400px;
  background-color: white;
}

.create-course__bottom {
  display: flex;
  justify-content: space-between;
  width: 780px;
  align-items: center;
}

.create-course__bottom-page {
  width: 400px;
  display: flex;
  gap: 5px;
}

.create-course__bottom-page-slide {
  width: 100px;
  height: 10px;
  background-color: white;
}

.create-course__bottom-active-btns {
  font-size: 15px;
  color: white;
  display: flex;
  gap: 30px;
}
