@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: end;
  border-bottom: 1px solid black;
}

.header-nav {
  display: flex;
  gap: 40px;
  color: black;
}

.header-nav-links {
  display: flex;
  font-size: 20px;
  font-weight: 100;
  gap: 16px;
  align-items: center;
}

.header-links-account-img {
  border-radius: 100%;
}

/*Logo*/
.home-logo {
  width: 200px;
  height: 60px;
}

/*Home page*/
.home {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("/images/Home_bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 60px;
}

.home-logo1 {
  margin-bottom: 60px;
}

.home-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;
  margin-bottom: 100px;
}
.home-description h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 76px;
}

.home-description p {
  width: 600px;
  font-size: 24px;
  font-weight: 100;
}

.home-btns {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.home-btns-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  background-color: #21a504;
  border-radius: 20px;
  padding: 4px 0;
}

.home-btns-about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 4px 0;
}

/*Login*/

.login-page {
  background-color: black;
}

.login-page__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.reg-log-page-logo {
  margin-bottom: auto;
  width: 300px;
  height: auto;
}
.login-page__form {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 50px;
  color: #21a504;
}

.login-page__form-inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 60px;
}

.reg-log-page__form-input {
  outline: none;
  border-bottom: 1px solid #177303;
  color: #d9d9d9;
  background-color: transparent;
}
.reg-log-page__form-input::placeholder {
  color: #d9d9d9;
}

.reg-log-page__choise {
  margin-top: auto;
  text-align: center;
  font-size: 14px;
  color: #d9d9d9;
}

.reg-log-page-link {
  color: #21a504;
  font-weight: 500;
}

/*Registration*/
.registration-choise {
  background-color: black;
  color: #d9d9d9;
}
.registration-choise__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.registration-choise__role {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.registration-page {
  background-color: black;
}
.registration-page__inner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-page_form-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.registration-page_description {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.registration-page_description-text {
  color: #d9d9d9;
  font-size: 24px;
}

.registration-page_description-text span {
  color: #21a504;
  font-weight: bold;
}

.registration-page_description-image-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration-page_description-image {
  width: 600px;
  height: 300px;
  background-color: #d9d9d9;
}

.registration-page_description-btns {
  display: flex;
  gap: 16px;
}

.registration-page_description-btns-btn {
  background-color: #d9d9d9;
  width: 120px;
  height: 10px;
}

.registration-page__form {
  display: flex;
  flex-direction: column;
  width: 340px;
  color: #21a504;
}
.reg-inputs__full-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.reg-log-page__form-input.name {
  width: 120px;
}
.reg-log-page__form-input.surname {
  width: 150px;
}
.reg-inputs__other {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.reg-form-btn {
  margin-top: 50px;
}

/* Home Teacher */
.home-teacher {
  background-color: black;
}
.home-teacher__inner {
  display: flex;
  flex-direction: column;
}

.home-teacher__intro {
  height: 100vh;
  margin-top: -60px;
  display: flex;
}

.home-teacher__intro-description {
  padding: 200px 40px 0;
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.home-teacher__intro-description-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.home-teacher__intro-description-text h2 {
  font-size: 48px;
  font-weight: bold;
}

.home-teacher__intro-description-text p {
  font-size: 20px;
  font-weight: 100;
}

.home-teacher__intro-description-btns {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: bold;
}

.home-teacher__intro-description-btns-create-course {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  padding: 4px 0;
  background-color: #21a504;
  border: none;
  border-radius: 20px;
}

.home-teacher__intro-description-btns-view-course {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  padding: 4px 0;
  border: 2px solid white;
  border-radius: 20px;
}

.home-teacher__intro-example {
  background-color: #191919;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.home-teacher__intro-example-img {
  background-color: #d9d9d9;
  width: 504px;
  height: 246px;
}

.home-teacher__intro-example-description {
  display: flex;
  flex-direction: column;
  width: 504px;
  gap: 4px;
}

.home-teacher__intro-example-description h2 {
  color: #21a504;
  font-size: 48px;
  font-weight: bold;
}

.home-teacher__intro-example-description p {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.home-teacher__recommendation {
  display: flex;
}

.home-teacher__recommendation-view {
  padding: 20px 40px 0;
  height: 100vh;
  width: 55%;
  color: black;
  background-color: white;
}

.home-teacher__recommendation-view h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.home-teacher__recommendation-view-img {
  background-color: #d9d9;
  width: 100%;
  height: 460px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.home-teacher__recommendation-view p {
  font-size: 20px;
  font-weight: 100;
}

.home-teacher__recommendation-choise {
  padding: 20px 40px 0;
  flex: 1;
  background-color: #d9d9d9;
}

.home-teacher__recommendation-choise h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.home-teacher__recommendation-choise-imgs {
  width: 100%;
  height: 460px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.home-teacher__recommendation-choise-imgs-img.active {
  width: 346px;
}

.home-teacher__recommendation-choise-imgs-img {
  cursor: pointer;
  background-color: #d9d9;
  width: 46px;
  height: 460px;
  border-radius: 20px;
  transition: all 0.7s ease;
  object-fit: cover;
}

.home-teacher__recommendation-choise-imgs-img:hover {
  width: 346px;
}

.home-teacher__recommendation-choise p {
  font-size: 20px;
  font-weight: 100;
}

.home-teacher__catalog {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home-teacher__catalog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-teacher__catalog-top h2 {
  color: #21a504;
  font-size: 48px;
  font-weight: bold;
}

.home-teacher__catalog-top-search {
  width: 484px;
  height: 38px;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.home-teacher__catalog-top-search-btn-filter {
  border: 2px solid white;
  border-radius: 20px;
  width: 60px;
  height: 38px;
  margin-left: -1.5px;
}

.home-teacher__catalog-top-search p {
  font-weight: 100;
  color: #b8b7b7;
}

.home-teacher__catalog-top-search-btn-search {
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  margin-right: -1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-teacher__catalog-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.home-teacher__catalog-view-item {
  width: 446px;
  height: 254px;
  border-radius: 20px;
}

/* Home Student */

.home-student {
  background-color: black;
}

.home-student__inner {
  display: flex;
  flex-direction: column;
}

.home-student__intro {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: black;
}

.home-student__intro-description {
  padding: 20px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.home-student__intro-description h2 {
  font-size: 96px;
  font-weight: bold;
}

.home-student__intro-description h3 {
  font-size: 48px;
  font-weight: 400;
  text-align: right;
}

.home-student__intro-description-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-student__intro-description-text p {
  font-weight: 100;
  width: 520px;
}

.home-student__intro-description-text-btns {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}

.home-student__intro-description-text-btns-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  padding: 4px 0;
  background-color: #21a504;
  border: none;
  border-radius: 20px;
  color: #ffffff;
}

.home-student__intro-description-text-btns-view-course {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  padding: 4px 0;
  border: 2px solid black;
  border-radius: 20px;
}

.home-student__intro-img {
  background-color: #d9d9d9;
  width: 100%;
  height: 324px;
}

.home-student__recommendation {
  padding: 20px 40px 40px;
}

.home-student__recommendation span {
  color: #21a504;
  font-size: 48px;
  font-weight: bold;
}
.home-student__recommendation h2 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.home-student__recommendation-view {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.home-student__recommendation-view-img {
  background-color: #d9d9d9;
  width: 740px;
  height: 440px;
}

.home-student__recommendation-view p {
  font-weight: 100;
  font-size: 20px;
}

.home-student__recommendation-btns {
  display: flex;
  gap: 40px;
}

.home-student__recommendation-btns-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home-student__recommendation-btns-btn.active {
  height: 440px;
}

.home-student__recommendation-btns-btn {
  background-color: #d9d9d9;
  width: 260px;
  height: 10px;
}

/* Course */

.view-course {
  height: 100vh;
  margin-top: -66px;
  padding-top: 66px;
}

.view-course__inner {
  padding: 40px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
}

.view-course__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.view-course__left-description {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin-bottom: auto;
}

.view-course__left-description h2 {
  font-size: 64px;
  font-weight: bold;
  color: #21a504;
}

.view-course__left-description h3 {
  font-size: 48px;
  font-weight: lighter;
  color: #21a504;
  text-align: right;
  text-transform: capitalize;
}

.view-course__left-start {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
}

.view-course__left-start-link {
  display: flex;
  width: 340px;
  padding: 4px 0;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  align-items: center;
  justify-content: center;
}

.view-course__left-start-rating {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.view-course__left p {
  width: 540px;
  font-weight: 100;
}

.view-course__left-imgs {
  display: flex;
  width: 540px;
  justify-content: space-between;
}

.view-course__left-imgs-img {
  background-color: #b8b7b7;
  width: 260px;
  height: 140px;
  border-radius: 20px;
}

.view-course__right {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: end;
  gap: 80px;
  width: 440px;
  margin-bottom: 40px;
}

.view-course__right-avatar {
  border: 3px solid white;
  border-radius: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.view-course__right p {
  font-weight: 100;
  text-align: end;
}

/* Create Course */

.create-course {
  background-color: black;
}

.create-course__inner {
  position: relative;
  height: calc(100vh - 66px);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 60px;
}

.create-course__title {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.create-course__title h2 {
  font-size: 48px;
  font-weight: bold;
}

.create-course__title h3 {
  font-size: 22px;
  font-weight: 100;
  text-align: end;
}

.create-course__form {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.create-course__form-inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.create-course__form-inner h2 {
  font-size: 48px;
  font-weight: bold;
  color: #21a504;
}

.create-course__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-course__form-inputs-input {
  width: 240px;
  background-color: transparent;
  border-bottom: 2px solid white;
}

.create-course__form-submit {
  width: 540px;
  display: flex;
  flex-direction: column;
}

.create-course__form-submit p {
  font-weight: 100;
  font-size: 20px;
}

.create-course__form-submit button {
  font-size: 20px;
  font-weight: bold;
}

.create-course__photo {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 80px;
  bottom: 0;
}

.name2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header__nav {
}

.header__nav-links {
  margin: 0 auto;
  padding: 0 20px;
}
.main-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}
.course-content {
  padding-top: 100px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-h1 {
  color: #ffd58c;
  font-size: 25px;
}

.course-h1.card-title {
}
.course__description {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.course__btns {
  display: flex;
  gap: 70px;
}

.course__description-h3,
.course__btns-btn {
  color: #ffffff;
  font-size: 16px;
}
.course__description-p {
  width: 520px;
  color: #c1a194;
  font-size: 15px;
  text-align: center;
}

.intro {
  position: relative;
  background-image: url("/images/Rectangle 166.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.background-tint {
  background-color: rgba(7, 135, 50, 0.308);
  background-blend-mode: multiply;
}
.aside-btns {
  position: absolute;
}
/* .create-course {
  display: none;
  min-height: 100vh;
} */
.course-design {
  display: none;
  min-height: 100vh;
}

.map-design {
  display: none;
  min-height: 100vh;
}
.course-active {
  display: block;
}
.course-card {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

.course-map {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

.course-card__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.course-card__content2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.course-card__item-img {
  width: 400px;
  height: 230px;
  object-fit: cover;
}
.course-card__item-description {
  margin-top: 10px;
  color: #c1a194;
  width: 400px;
  font-size: 15px;
  text-align: center;
}

.circle {
  position: relative;
  background-color: none;
  border: 1px solid #ffd58c;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}
.circle.active {
  background-color: #ffd58c;
}
.circle.line-circle.circle::after {
  position: absolute;
  content: "";
  background-color: #749662;
  width: 1px;
  height: 80px;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
}
.line {
  position: absolute;
  background-color: #749662;
  width: 1px;
  height: 45%;
  left: 50%;
  transform: translateX(-50%);
}
.line.top {
  top: -55%;
}
.line.bottom {
  bottom: -55%;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 120px;
  position: fixed;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.course-card__content2 {
  display: none;
  min-height: 100vh;
}
.course-card__content2.course-active {
  display: flex;
}

.course-page {
  display: none;
}

.course-page.course-active {
  display: flex;
}

.course-page__content-and-review {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 45px;
}

.course-page__content {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.course-page__content-img {
  flex: 1;
  height: 321px;
}
.course-page__content-description {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.course-page__content-description-h {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.course-page__content-description-h2 {
  font-size: 22px;
  color: white;
}
.course-page__content-description-h3,
.content-description-recommendation-h3 {
  font-size: 17px;
  color: #ffd58c;
}

.course-page__content-description-text {
  color: #c1a194;
  font-size: 14px;
}
.course-page__content-description-text-span {
  color: white;
  font-size: 14px;
}

.course-page__content-description-recommendation {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 10px;
}

.test {
  background-color: white;
  width: 270px;
  height: 70px;
}

.course-page__review {
  display: flex;
  gap: 3px;
}

.course-page__review-links {
  width: 520px;
  padding: 10px 7px;
  background-color: rgba(255, 255, 255, 0.1);
}

.review-links-span {
  font-size: 14px;
  color: #ffd58c;
}
.review-links-p {
  font-size: 14px;
  color: white;
}

.course-page__btns {
  display: flex;
  justify-content: space-between;
}
.course-page__btns-btn {
  color: #ffffff;
}

.create-course2 {
  min-height: 100vh;
  background-image: url("/images/Rectangle 166.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.create-course2__inner {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-course__top {
  width: 780px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.create-course__top-action,
.create-course__top-lessons {
  color: #ffffff;
  font-size: 14px;
}

.create-course__top-action {
  display: flex;
  gap: 16px;
}

.create-course__top-lessons {
  display: flex;
  gap: 9px;
}

.create-course__middle {
  display: flex;
  gap: 70px;
  padding-bottom: 50px;
}

.create-course__middle-triangle-left {
  margin-top: 170px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
}

.create-course__middle-triangle-right {
  margin-top: 170px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid white;
}

.create-course__middle-canvas {
  width: 780px;
  height: 400px;
  background-color: white;
}

.create-course__bottom {
  display: flex;
  justify-content: space-between;
  width: 780px;
  align-items: center;
}

.create-course__bottom-page {
  width: 400px;
  display: flex;
  gap: 5px;
}

.create-course__bottom-page-slide {
  width: 100px;
  height: 10px;
  background-color: white;
}

.create-course__bottom-active-btns {
  font-size: 15px;
  color: white;
  display: flex;
  gap: 30px;
}
